body {
    background: #333333;
    margin: 24px;
    color: white
  }
  
  .timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: #555555;
    max-width: 650px;
    margin-left: 35%;
    margin-top: 12%;
    margin-right: 30%;
  }
  
  .timer__part {
    font-size: 200px;
    font-weight: bold;
  }
  
  .timer__btn {
    width: 75px;
    height: 75px;
    position: fixed;
    margin-bottom: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #ad45c2;
    cursor: pointer;
    margin-left: -12%;
    margin-top: 15%;
  }


  .timer__btn--start {
    background: #55b46c;
    margin-left: -19%;
    margin-top: 15%;
  }
  
  .timer__btn--stop {
    background: #eb4545;
    margin-left: -19%;
    margin-top: 15%;
  }
  

  @media only screen and (max-width: 768px) {

    .timer__part {
        font-size: 36px;
        font-weight: bold;
      }

    .timer__btn {
        width: 50px;
        height: 50px;
        margin-left: 16px;
        border-radius: 50%;
        border: none;
        color: white;
        background: #8208e6;
        cursor: pointer;
      }
}